*{
    margin:0px;
    padding: 0px;
    text-decoration:none;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

a{
color:unset;
}
header{
    background-image: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    height: 70vh;
}
i.fas fa-door-open{
    color: white;
    text-align: center;
}
nav{
    display:flex;
    justify-content:space-between;
    padding: 25px 0px;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin: 0px auto;

   }
nav div.container{
    display: flex;
    
}
nav .nav_item {
    color: white;
    margin: 0px 10px;
}
nav div.nav_item.app{
    font-size: 0.9rem;
    font-weight: 900;
}
nav div.nav_item{
    font-size: 1.2rem;
    font-weight: 200;
}
header div.content{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 70%;
   margin: 0px auto;
}
header img.logo{
    width: 290px;
}
header h1{
color: cornsilk;
font-family: Arial;
font-weight: unset;
font-size: 2.2rem;
}
header div.searchbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: cornsilk;
    width: 70%;
    border-radius: 10px;
    height: 50px;
}
header div.searchbox div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
*:focus{
   
    outline: none;
}
header div.searchbox div.select i{
    color: crimson;
}
header div.searchbox div.input i{
    color: gray;
}header div.searchbox div.seperator{
    color: rgb(177, 175, 175);

}header div.searchbox div.input{
    flex-grow: 70;    
}header div.searchbox div.select{
    flex-grow: 30;
}
header div.searchbox div.select select{
    width: 80%;
    height: 32px;
    font-size: 15px;
    color: grey;
    font-family:sans-serif;
    border: unset;
}header div.searchbox div.input input{
    width: 80%;
    height: 32px;

    font-size: 15px;
    font-family: sans-serif;
    border: unset;
}
section.nearby{
    min-height: 40vh;
   
}
section.nearby div.container{
    margin:0px auto;
    width: 90%;
    text-align: center;
    padding: 40px 0px;
    
    
   
}
section.nearby div.container h3{
    font-size:2.2rem;
    font-family: Arial;
    font-weight: unset;
    padding-bottom:50px;
}
section div.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 35%;
    height: 70px;
    border-radius: 7px;
    margin-top: 5%;
    padding: 15px;
    font-size: 1.2rem;
    cursor:pointer ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-weight: lighter;
    
}
/* app section*/
section.app{
    min-height: 400px;
    background-color: rgb(249, 251, 252)

}
section.app div.content{
    width: 70%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section.app div.content img{
    max-width: 300px;
    display: block;
}/* app's side form*/
section.app div.content div.form{
    max-width: 480px;
}
/*h1 tag*/    
section.app div.content div.form h1{
    font-size: 3rem;
}
/*small tag*/
section.app div.content div.form small{
    display: block;
    font-size: 1.1rem;
    color:black;
    margin: 20px;

}
/* radio button styles*/
/*email and phone input tag styles*/

section.app div.content div.form div.input{
    
    display: flex;
    align-items: center;
    height: 50px;
    
    
}section.app div.content div.form div.input input{
    flex-grow: 70;
    background-color: cornsilk;
    border: 1px solid rgb(94, 91, 91);
    font-size: 1.2rem;
    border-radius: 6px;
    height: 100%;
    padding-left: 10px;
    width: 60%;
    font-family: Okra,Helvetica,sans-serif;
}
section.app div.content div.form div.input button{
    font-size: 1.2rem;
    padding: 10px 10px;
    background-color: indianred;
    height: 100%;
    border-radius: 6px;
    margin: 10px;
    color: white;
    font-family: Okra,Helvetica,sans-serif;
}
section.app div.content div.form div.download{
    margin: 20px 0px;
    color: gray;
    font-weight: 100;
    
}
section.app div.content div.form div.download div{
    margin: 5px;
}
section.app div.content div.form div.download div img{
    display: inline-block;
    max-width: 150px;
    margin: 5px 2px;
}
/*-------app section complted---*/
/*-----------------------------*/
/*----third section---*/ 
section.option{
    min-height: 60vh;
}
section.option div.container{
    width: 90%;
    margin: 30px auto;
    
}
section.option div.container h1{
    font-size: 2rem;
}
section.option div.container h3{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
section.option div.container div{
    margin-top: 40px;
} 
section.option div.container ul{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
}
section.option div.container ul li{
    margin: 3px 10px;
    color: gray;
    font-size: 1.1rem ;
    font-weight: 100;
}


